@model IEnumerable<Product>

<!-- TODO: ADD  search functionality and search pages searching by keyword and category also
	add page numbers where (20 * (page number - 1)) are the results from the list can be extended
	more by sorting by categories (oldest newest)
-->

@{
	ViewBag.Title = "View Products ";
	List<Product> productList = new List<Product>();
	if (Model != null)
	{
		 productList = Model.ToList();
	}
}

@functions{
	string GetDeleteModalId(Product prod)
	{
		return "#deleteModal" + prod.ProductId;
	}

	string GetModalId(Product prod)
	{
		return "deleteModal" + prod.ProductId;
	}
}

<h2>All Products </h2>
<a asp-action="AddEdit" asp-controller="Product" class="btn btn-primary"> Add New Product </a>


<div class="row">
	@for(int i = 0; i < 15 && productList.Count - 1 > i; i++)
	{
		Product prod = productList[i];
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				<img src="@Url.Content(prod.ImageUrl)" class="card-img-top fixed-image-height" alt="@prod.Description" />
				<div class="card-body">
					<h5 class="card-title">@prod.Name</h5>
					<p class="card-text">@prod.Description</p>
					<a class="btn btn-info" asp-controller="Product" asp-action="ViewProduct" asp-route-id="@prod.ProductId"><i class="bi bi-pencil-fill">View</i></a>
				</div>
			</div>
		</div>
	}
</>